* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reglas {
    background-image: url(../img/bg-grid.png);
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 120px;
    color: black;
}
.reglas-text {
    padding-left: 80px;
    color: black;

}
.reglas-text p {
    margin-top: 20px;
    max-width: 700px;
    color: black;
    font-size: 1.2rem;
}
.reglas-img {
    display: flex;
    justify-content: center;
    height: 350px;
    padding-right: 200px;
    
}